{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/UpmMain.css'%}">

    <title>UPM HOME</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="left_navigation">
        <!--Logo prasmul-->
        <img src="https://lms.prasetiyamulya.ac.id/pluginfile.php/1/core_admin/logo/0x200/1601623298/logo_upm_putih.png" class="prasmul_logo pt-3">

        <!--Navigation Menu-->
        <div class="accordion navigation_menu pt-3" id="accordionExample">
            <div class="card card1">
              <div class="card-header card1-2" id="headingOne">
                <h2 class="mb-0"></h2>
                <a class="btn btn-link btn-block text-left button1" type="button" href="{% url 'home' member_type.name %}">
                    <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-house-door-fill house_icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                      <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    </svg>
                    Home
                  </a>
                </h2>
              </div>
            </div>

            <div class="card card1">
              <div class="card-header card1-2" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed button1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Audit Mutu Internal
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <a class="btn btn-link btn-block text-left button1 ml-4" type="button" href="{% url 'ami umum admin' member_type.name %}">
                  Umum
                </a>
                <a class="btn btn-link btn-block text-left button1 ml-4" type="button" href="{% url 'ami prodi admin' member_type.name %}">
                  Prodi
                </a>
              </div>
            </div>

            <div class="card card1">
              <div class="card-header card1-2" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed button1" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Akreditasi BAN PT
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <a class="btn btn-link btn-block text-left button1 ml-4" type="button" href="{% url 'abpt umum admin' member_type.name %}">
                  Umum
                </a>
                <a class="btn btn-link btn-block text-left button1 ml-4" type="button" href="{% url 'abpt prodi admin' member_type.name %}">
                  Prodi
                </a>
              </div>
            </div>

            <div class="card card1">
              <div class="card-header card1-2" id="headingOne">
                <h2 class="mb-0"></h2>
                  <a class="btn btn-link btn-block text-left button1" type="button" href="{% url 'informasi umum' member_type.name %}">  
                    <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-info-circle-fill house_icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                    Informasi Umum
                  </a>
                </h2>
              </div>
            </div>

            <div class="card card1 logout_icon">
              <div class="card-header card1-2" id="headingOne">
                <h2 class="mb-0"></h2>
                  <a class="btn btn-link btn-block text-left button1" type="button" href="{% url 'logout' %}">  
                    <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-caret-left-fill house_icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                    Log Out
                  </a>
                </h2>
              </div>
            </div>
        </div>
    </section>  
    
    <!--Top Bar-->
    <section class="top_bar sticky-top">
      <div class="search1 ml-4">
        <a class="text-dark" href="#"><svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg></a>
        <input class="input-sm border-0 p-2 col-md-11 input_search1" type="text" placeholder="Search...">
      </div>
      <div class="user-info">
        <div class="user-avatar"></div>
        <div class="user-greeting">Hello, {{user.first_name}}</div>
      </div>
    </section>

    {% block content %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="UPM.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>