{% extends 'main.html' %}
{%load static%}
{% block content %}

<section class="home_bar">
    <h3 class="home_bar-home">{{judul}}</h3>
    <div class="deskripsi">
        Are you sure you want to delete <span style="color: red;">"{{item}}"</span> ?
    </div>
    

    <form class="mt-3" action="{% url 'delete file' member_type.name item.id %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'ami umum admin' member_type.name %}" class="btn btn-danger btn-lg upload_file ml-4">Cancel</a>

        <input class="btn btn-primary btn-lg upload_file" type="submit" name="Submit">
    </form>

</section>


{% endblock %}