{% extends 'main.html' %}
{%load static%}
{% block content %}

<section class="home_bar">
  <div class="title-prodi">
    <h3 class="home_bar-home">{{judul}}</h3>
    <a href="{% url 'ami prodi dbt' member_type.name %}" class="btn btn-primary btn-sm btn-prodi">DBT</a>
    <a href="{% url 'ami prodi bm' member_type.name %}" class="btn btn-primary btn-sm btn-prodi">BM</a>
    <a href="{% url 'ami prodi fbt' member_type.name %}" class="btn btn-primary btn-sm btn-prodi">FBT</a>
    <a href="{% url 'ami prodi pde' member_type.name %}" class="btn btn-primary btn-sm btn-prodi">PDE</a>
    <a href="{% url 'ami prodi ree' member_type.name %}" class="btn btn-primary btn-sm btn-prodi">REE</a>
    <a href="{% url 'ami prodi cse' member_type.name %}" class="btn btn-primary btn-sm btn-prodi">CSE</a>
  </div>
    
    <div class="deskripsi">
      {{deskripsi}}
    </div>
    <a href="{% url 'create folder' member_type.name %}" class="btn btn-success btn-block btn-create-top">Create Folder</a>
    
    <!--Folder-->
    <div class="box-inside">
      <div class="row">
        {% for item in file_folder %}
        <div class="col-sm-6 folder1">
          <div class="card card3">
            <img src="https://image.freepik.com/free-vector/neon-lights-wallpaper_52683-46462.jpg" class="card-img-top card3-img" alt="">
            <div class="card-body">
              <h5 class="card-title">{{item.nama_folder}}</h5>
              <div class="button-container">
                <a href="{{ item.link_folder }}" class="btn btn-primary mr-3">Open Folder</a>
                <a href="{% url 'update folder' member_type.name item.id %}" class="btn btn-warning mr-3">Update Folder</a>
                <a href="{% url 'delete folder' member_type.name item.id %}" class="btn btn-danger">Delete Folder</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>     
  </section>

{% endblock %}
