{% extends 'main.html' %}
{%load static%}
{% block content %}



<section class="home_bar">
    <h3 class="home_bar-home">{{judul}}</h3>
    <div class="deskripsi">
      {{deskripsi}}
    </div>

{% endblock %}
