{% extends 'main.html' %}
{%load static%}
{% block content %}

<section class="home_bar">
    <h3 class="home_bar-home">{{judul}}</h3>
    
    <div class="deskripsi">
      {{deskripsi}}
      <div class="file">
        <div class="file-1">
        <h3 class="file_umum">File Umum</h3>
        <a class="btn btn-success btn-sm btn-create" href="{% url 'create file' member_type.name %}">Create</a>
        </div>
        {% for item in file_folder %}
          <ul>
            <div class="file-list-item">
            <li><a href="{{ item.link_file }}">{{ item.nama_file }}</a>
            <a href="{% url 'update file' member_type.name item.id %}" class="btn btn-warning btn-sm btn-create">Update</a>
            <a href="{% url 'delete file' member_type.name item.id %}" class="btn btn-danger btn-sm btn-create">Delete</a>
            </li>
            </div>
          </ul>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
