{% extends 'main.html' %}
{%load static%}
{% block content %}

<section class="home_bar">
    <h3 class="home_bar-home">Informasi Umum</h3>
    <div class="deskripsi">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam volutpat tellus nec suscipit tempus. Maecenas quis sem nec leo dignissim
      vehicula ac in eros. In hac habitasse platea dictumst. Nulla eu felis ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellu
      dictum placerat justo quis lobortis. Etiam vestibulum aliquet elit, non vehicula augue.
    </div>
    
    <!--Folder-->
    <div class="box-inside">
      <div class="row">
        {% for item in file_folder %}
        <div class="col-sm-6 folder1">
          <div class="card card3">
            <img src="https://image.freepik.com/free-vector/neon-lights-wallpaper_52683-46462.jpg" class="card-img-top card3-img" alt="">
            <div class="card-body">
              <h5 class="card-title">{{item.nama_folder}}</h5>
              <a href="{{ item.link_folder }}" class="btn btn-primary">Open Folder</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>     
  </section>

{% endblock %}
