{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPM Audit - Login</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS-->
    <link href="{% static 'assets/login.css'%}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
  
    <div class="box-inside">
      <form method="POST" actions="" class="form-signin">
        {% csrf_token %}
        <div class="text-center mb-4">
          <img class="mb-4" src="https://www.prasetiyamulya.ac.id/wp-content/uploads/2020/02/Universitas-prasetiya-mulya-logo-bulat.jpg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">UPM Audit</h1>
        </div>

        <div class="form-label-group">
          <input type="password" name="new_password1" class="form-control" autocomplete="new-password" maxlength="254" required id="id_new_password1">
          <label for="id_new_password1">New password:</label>
        </div>
        <tr>
          <li>Your password can’t be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can’t be a commonly used password.</li> 
          <li>Your password can’t be entirely numeric.</li> 
        </tr>
        <br>
        <div class="form-label-group">
          <input type="password" name="new_password2" class="form-control" autocomplete="new-password" maxlength="254" required id="id_new_password2">
          <label for="id_new_password2">New password confirmation:</label>
          <div class="invalid-feedback">
            Kata Sandi Tidak Sama
          </div>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="Submit" name="Update Password">Change Password</button>
        <p class="mt-3 mb-3 text-muted text-center">&copy; 2020</p>
      </form>


  </body>
</html>
