{% extends 'main.html' %}
{%load static%}
{% block content %}

<section class="home_bar">
    <h3 class="home_bar-home">{{judul}}</h3>
    <div class="deskripsi">
      {{deskripsi}}
    </div>
    
    <div class="folder-form">
        <form class="needs-validation" actions="" method="POST">
            {% csrf_token %}

            <label for="fileName">Nama File</label>
            <input type="text" name="nama_file" maxlength="80" class="form-control mb-3" required id="id_nama_file">

            <label for="fileLink">Link File</label><br>
            <input type="text" name="link_file" maxlength="256" class="form-control mb-3" required id="id_link_file">
            
            <div class="mb-4"></div>
            <input class="btn btn-primary btn-lg btn-block upload_file" type="submit" name="Submit">
        </form>
    </div>
</section>

{% endblock %}