{% extends 'main.html' %}
{%load static%}
{% block content %}

<section class="home_bar">
    <h3 class="home_bar-home">{{judul}}</h3>

    <div class="deskripsi">
      {{deskripsi}}
      <div class="file">
        <div class="file-1">
        <h3 class="file_umum">File Umum</h3>
        </div>
        {% for item in file_folder %}
          <ul>
            <div class="file-list-item">
            <li><a href="{{ item.link_file }}">{{ item.nama_file }}</a>
            </li>
            </div>
          </ul>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
