{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPM Audit - Login</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS-->
    <link href="{% static 'assets/login.css'%}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="box-inside">
      <form method="POST" actions="" class="form-signin">
        {% csrf_token %}
        <div class="text-center mb-4">
          <img class="mb-4" src="https://www.prasetiyamulya.ac.id/wp-content/uploads/2020/02/Universitas-prasetiya-mulya-logo-bulat.jpg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">UPM Audit</h1>
        </div>
        {% for message in messages %}
        <p id="messages" style="color: red; text-align: center;">{{message}}</p>
        {% endfor %}
        <div class="form-label-group">
          <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
        <a class="mt-3 mb-3 text-muted text-center" href="/reset_password">Forgot Password?</a> 
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
      </form>



  </body>
</html>
