body{
  background: #F8FAFD;
}

.left_navigation{
    max-width: 261px;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #2A51E8, #1F3EB4);
    position: fixed;
}

.prasmul_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card1{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background: transparent;
    background-color: transparent;
    color: white;
    border-color: transparent;
    margin-left: -10px;
}

.card1-2{
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  text-decoration: none;
}

.button1{
    font-size: 15px;
    background-color: transparent;
    color: white;
}

.button1-2{
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 30px;
}

.button1:hover{
  color: white;
  text-decoration: none;
}

.card1:hover{
  background-color: #00000041;
  text-decoration: none;
}

.house_icon{
  margin-top: -5px;
  margin-right: 7px;
}

.button1:focus{
  box-shadow: none !important;
  text-decoration: none;
}

.top_bar{
  position: fixed;
  min-width: 1300px;
  height: 10vh;
  top: 0px;
  left: 261px;
  background: #FFFFFF;
  box-shadow: 0px 0px 21px -9px rgba(116, 155, 255, 0.39);
  display: flex;
}

.search1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.input_search1{
  vertical-align: middle;
  padding-top: 0.8rem !important;
  padding-bottom: 0.3rem !important;
  border-bottom: 1px solid #000 !important;
}

.input_search1:focus{
  outline: none;
}

.home_bar{
  position: absolute;
  width: 1220px;
  top: 140px;
  left: 280px;
  background: #FFFFFF;
  box-shadow: 0px 0px 21px -9px rgba(116, 155, 255, 0.39);
}

.home_bar-home{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-top: -36px;
  margin-left: 8px;
}

.logout_icon{
  position: absolute;
  bottom: 15px;
}

.logout_icon:hover{
  background-color: transparent;
}

.deskripsi{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.file{

}

.file_umum{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.box-inside {
  display: flex;
}

.card3 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.column {
  position: relative;
}

.card3-img {
  height: 7rem;
}

.folder1{
  
}

.user-info{
  display: flex;
  margin-left: 480px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.user-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000;
  margin-top: auto;
  margin-bottom: auto;
}

.user-greeting{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 1rem;
}

.folder-form {
  width: 85%;
  margin-left: 25px;
  margin-top: 15px;
}

input[type=submit].btn-block {
  width: 10%;
  height: 10%;
}

.upload_file{
  font-size: 18px;
}

.file-1 {
  display: flex;
  margin-top: 60px;
}

.btn-create {
  margin-left: 20px;
  
}

.file-list {
  margin-top: 30px;
}

.file-list-item {
  display: flex;
}

li { padding: 10px 0px 0px; }

.button-container {
  display: flex;
}

.btn-create-top {
  width: 1185px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.title-prodi {
  display: flex;
}

.btn-prodi {
  margin-top: -39px;
  margin-left: 10px;
  margin-bottom: 10px;
}